h1 {
  color: black;
}

.productDisplay {
  font-family: "Sarabun", sans-serif;
}

.bundle-builder {
  background-color: #ded9fe;
}

.btn-add-to-cart {
  font-family: "Sarabun", sans-serif;
  font-size: 3rem;
  border-radius: 50%;
  margin: 10px;
  padding-bottom: 25px;
}
