h1 {
  color: black;
}

h2,
h3 {
  font-family: "Sarabun", sans-serif;
}

.productDisplay {
  font-family: "Sarabun", sans-serif;
}

.bundle-builder {
  background-color: #ded9fe;
}

.btn-add-to-cart {
  font-family: "Sarabun", sans-serif;
  font-size: 2rem;
  border-radius: 50%;
  margin: 10px;
  padding-bottom: 25px;
}

.shopping-bag {
  font-family: "Anton", sans-serif;
}
